apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-dns
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    version: v9
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: kube-dns
    version: v9
  template:
    metadata:
      labels:
        k8s-app: kube-dns
        version: v9
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
#      - name: etcdcontainer
#        image: registry:5000/library/etcd:2.0.9
#        resources:
#          limits:
#            cpu: 100m
#            memory: 50Mi
#        command:
#        - /usr/local/bin/etcd
#        - -data-dir
#        - /var/etcd/data
#        - -listen-client-urls
#        - http://127.0.0.1:2379
#        - -advertise-client-urls
#        - http://127.0.0.1:2379
#        - -initial-cluster-token
#        - skydns-etcd
#        volumeMounts:
#        - name: etcd-storage
#          mountPath: /var/etcd/data
      - name: kube2sky
        image: registry:5000/library/kube2sky:1.11 
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
        args:
        # command = "/kube2sky"
        - -domain={{ dns_domain }}
        - --kube_master_url=http://{{ groups['masters'][0] }}:8080
        - -etcd-server=http://{{ groups['etcd'][0] }}:2379
      - name: skydns
        image: registry:5000/library/skydns:2015-10-13-8c72f8c 
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
        args:
        # command = "/skydns"
        - -machines=http://{{ groups['etcd'][0] }}:2379
        - -addr=0.0.0.0:53
        - -ns-rotate=false
        - -domain={{ dns_domain }}.
        ports:
        - containerPort: 53
          name: dns
          protocol: UDP
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
#      - name: healthz
#        image: registry:5000/library/exechealthz:1.0
#        resources:
#          limits:
#            cpu: 10m
#            memory: 20Mi
#        args:
#          - -cmd=nslookup kubernetes.default.svc.cluster.local localhost >/dev/null
#          - -port=8080
#        ports:
#        - containerPort: 8080
#          protocol: TCP
#      volumes:
#      - name: etcd-storage
#        emptyDir: {}
      dnsPolicy: Default  # Don't use cluster DNS.
